# Server
PORT=4400
CLIENT_URL=http://localhost:5173
NODE_ENV=production

# DB
DB_DOCKER_PORT=5400
DB_USER=gamifikace_admin
DB_PASSWORD=supersecretpassword
DB_NAME=gamifikace_db

# Auth
JWT_SECRET=supersecretjwtkey
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>